
#pagetitle{
    float: left;
    margin-top: 20px;
}

#master{
width: 100%;
background-color: #ddd;
height: 70px;
margin-top: 20px;
position: fixed;
}

#nav{
    float: right;
    margin-top: 10px;
    width: 600px;
}

#nav ul{
    list-style: none;
    display: block;
    margin: 0 auto;
    display: block;
}
#nav li{
    float: left;
    padding:10px;
    margin: 2px;
    background-color: black;
}
#nav li a{
    text-decoration: none;
    font-size: 1em;
    color: white
}
#nav li a:hover{   
    color: red;
}
.section{
    border: 1px solid#ddd;
    min-height: 500px;
    background-color: #fff;
}
.container{
    max-width: 1040px;
    border: 1px solid black;
    margin: 0 auto;
}
.clear{
    clear: both;
}
.wrap{
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
}
.content{
    float: right;
    border: 1px solid black;
    background-color:antiquewhite;
    width: 800px;
}

